* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto";
  box-sizing: border-box;
}

.welcome-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.react-tiles-heading {
  color: #2d9596;
  font-size: 28px;
  text-align: center;
}

.name-container {
  height: 60%;
  width: 80%;
  margin-top: 15px;
  background-color: #f6f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name-heading {
  color: #535c91;
  font-size: 18px;
  /* text-decoration: underline; */
}

.name-input{
    width: 80%;
    height: 40px;
    margin-top: 10px;
    outline: none;
    background-color: transparent;
    border:1px solid #535c91;
    color: #000000;
    padding-left: 8px;
    font-size: 20px;
}

.play-btn{
    width: 80px;
    height: 30px;
    margin-top: 20px;
    background-color: #2d9596;
    border:none;
    color: #ffffff;
    border-radius:3px;
    cursor: pointer;
}

@media screen and (min-width:768px){
    .name-input{
        width: 400px;
    }
    .name-container{
        width: 60%;
    }
    .react-tiles-heading{
        font-size: 35px;
    }
    .name-heading{
        font-size: 25px;
    }
}